@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Burger Restaurant</h1>
    <p>The best burgers in town since 2004.</p>
</div>
